/**********Variables**********/
/**********Fin Variables**********/
/**********Mixins**********/
/**********Fin Mixins**********/
/**********Keyframes**********/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/**********Fin Keyframes**********/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*****************************Version mobile*****************************/
.body__loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: hideLoader 0.5s forwards 3s;
}
.body__loader-container__loader {
  width: 80px;
  height: 80px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #9356dc;
  animation: spin 2s linear infinite;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3.5s, opacity 0.5s ease;
  /**********Header**********/
  /**********Fin Header**********/
  /**********Main**********/
  /**********Fin Main**********/
  /**********Footer**********/
  /**********Fin Footer**********/
}
.body-container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0 10px black;
  margin: 0 0 5px 0;
}
.body-container__header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0 0px 5px black;
  margin-bottom: 3px;
}
.body-container__header__logo-container__img {
  width: 140px;
}
.body-container__header__location-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  background-color: #eaeaea;
}
.body-container__header__location-block__location-dot {
  color: black;
  font-size: 15px;
}
.body-container__header__location-block_p {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.body-container__main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /**********Info**********/
  /**********Fin Info**********/
  /**********Functioning**********/
  /**********Fin Functioning**********/
  /**********Restaurants**********/
  /**********Fin Restaurants**********/
}
.body-container__main__section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px 0 70px 0;
  background-color: #f6f6f6;
}
.body-container__main__section-info__h1 {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0 30px;
  margin: 30px 0 15px 0;
}
.body-container__main__section-info__p {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  padding: 0 30px;
  margin: 0 0 30px 0;
}
.body-container__main__section-info__btn-explore-restaurant__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 50px 0;
}
.body-container__main__section-info__btn-explore-restaurant__container__btn {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 15px 25px;
}
.body-container__main__section-info__btn-explore-restaurant__container__btn:hover {
  transition: 500ms;
  background: linear-gradient(0deg, #a877e3 -11.44%, #ff93e1 123.93%);
  box-shadow: 0px 4px 10px rgb(133, 133, 133);
}
.body-container__main__section-functioning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 65px;
}
.body-container__main__section-functioning__h2 {
  color: black;
  display: flex;
  justify-content: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
  padding: 0 0 0 20px;
  margin: 50px 0 15px 0;
}
.body-container__main__section-functioning__direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 265px;
  margin: 10px 0 0 0;
}
.body-container__main__section-functioning__direction__btn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 85%;
  height: 72px;
  border-radius: 20px;
  background-color: white;
  border: none;
}
.body-container__main__section-functioning__direction__btn__p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 12px;
  left: -19px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
}
.body-container__main__section-functioning__direction__btn__inside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.body-container__main__section-functioning__direction__btn__inside__icon {
  color: #7e7e7e;
  font-size: 18px;
}
.body-container__main__section-functioning__direction__btn__inside__icon:hover {
  transition: 500ms;
  font-size: 22px;
  color: #9356dc;
}
.body-container__main__section-functioning__direction__btn__inside__p {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.body-container__main__section-functioning__direction__btn__phone {
  color: #7e7e7e;
  font-size: 20px;
}
.body-container__main__section-functioning__direction__btn__phone:hover {
  color: #9356dc;
}
.body-container__main__section-functioning__direction__btn__list {
  color: #7e7e7e;
  font-size: 20px;
}
.body-container__main__section-functioning__direction__btn__list:hover {
  color: #9356dc;
}
.body-container__main__section-functioning__direction__btn__store {
  color: #7e7e7e;
  font-size: 20px;
}
.body-container__main__section-functioning__direction__btn__store:hover {
  color: #9356dc;
}
.body-container__main__section-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}
.body-container__main__section-restaurant__h3 {
  color: black;
  display: flex;
  justify-content: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
  padding: 0 0 0 20px;
  margin: 50px 0 15px 0;
}
.body-container__main__section-restaurant__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  margin: 0 0 35px 0;
}
.body-container__main__section-restaurant__container__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.body-container__main__section-restaurant__container__card-container__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 250px;
  border-radius: 15px;
}
.body-container__main__section-restaurant__container__card-container__card__img-container {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.body-container__main__section-restaurant__container__card-container__card__img-container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.body-container__main__section-restaurant__container__card-container__card__p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #99e2d0;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 30px;
}
.body-container__main__section-restaurant__container__card-container__card__description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  padding: 10px 20px 10px 10px;
  background-color: white;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__description {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__description__headigns {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 5px 0;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__description__p {
  color: black;
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
  margin: 0 0 0 0;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__like__black-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: black;
  z-index: 0;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__like__white-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  z-index: 1;
  transition: all 0.4s linear;
}
.body-container__main__section-restaurant__container__card-container__card__description-container__like__white-heart:hover {
  font-size: 27px;
  background: linear-gradient(135deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.body-container__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.body-container__footer__block {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  background: #353535;
}
.body-container__footer__block__logo-container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 17px;
  margin: 0 0 25px 0;
}
.body-container__footer__block__logo-container__img {
  width: 100px;
}
.body-container__footer__block__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body-container__footer__block__nav__direction {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  padding: 0 0 7px 0;
}
.body-container__footer__block__nav__direction__block {
  width: 100%;
  gap: 5px;
}
.body-container__footer__block__nav__direction__block__knife-fork {
  width: 11px;
  font-size: 15px;
  color: white;
}
.body-container__footer__block__nav__direction__block__contact {
  width: 11px;
  font-size: 12px;
  color: white;
}
.body-container__footer__block__nav__direction__block__p {
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 10px;
}
.body-container__footer__block__nav__block {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.body-container__footer__block__nav__block__p {
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.body__loader-container + .body-container {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/*****************************Fin Version mobile*****************************/
/*****************************Version tablette*****************************/
@media screen and (min-width: 700px) {
  /**********Functioning**********/
  .body-container__main__section-functioning__direction {
    width: 95%;
    height: 150px;
    margin: 0;
    flex-direction: row;
  }
  .body-container__main__section-functioning__direction__btn {
    width: 31%;
    height: 70px;
  }
  /**********Fin Functioning**********/
  /**********Restaurants**********/
  .body-container__main__section-restaurant {
    padding: 0 20px;
  }
  .body-container__main__section-restaurant__container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .body-container__main__section-restaurant__container__card-container {
    width: 47%;
  }
  .body-container__main__section-restaurant__container__card-container__card {
    width: 95%;
  }
  /**********Fin Restaurants**********/
}
/*****************************Fin Version tablette*****************************/
/*****************************Version desktop*****************************/
@media screen and (min-width: 1024px) {
  /**********Header**********/
  .body-container__header {
    box-shadow: none;
    margin: 0;
  }
  .body-container__header__logo-container {
    height: 95px;
    box-shadow: none;
  }
  .body-container__header__logo-container__img {
    width: 190px;
  }
  /**********Fin Header**********/
  /**********Main**********/
  /**********Info**********/
  .body-container__main__section-info__h1 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
  }
  .body-container__main__section-info__btn-explore-restaurant__container {
    margin: 0 0 30px 0;
  }
  /**********Fin Info**********/
  /**********Functioning**********/
  .body-container__main__section-functioning {
    display: flex;
    justify-content: center;
    padding: 0 180px;
    height: 228px;
  }
  .body-container__main__section-functioning__h2 {
    padding: 0;
  }
  .body-container__main__section-functioning__direction {
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 70px;
  }
  .body-container__main__section-functioning__direction__btn {
    width: 30%;
  }
  /**********Fin Functioning**********/
  /**********Restaurants**********/
  .body-container__main__section-restaurant {
    padding: 0 150px;
  }
  .body-container__main__section-restaurant__container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  .body-container__main__section-restaurant__container__card-container {
    width: 47%;
  }
  .body-container__main__section-restaurant__container__card-container__card {
    width: 95%;
  }
  /**********Fin Restaurants**********/
  /**********Fin Main**********/
  /**********Footer**********/
  .body-container__footer__block {
    justify-content: right;
    flex-direction: row-reverse;
    padding: 40px 20px 20px 0;
  }
  .body-container__footer__block__logo-container {
    align-items: center;
    width: 137px;
    height: 100%;
    padding: 0;
    margin: 0 0 0 80px;
  }
  .body-container__footer__block__nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 600px;
    gap: 7px;
  }
  .body-container__footer__block__nav__direction {
    flex-direction: row;
    padding: 0;
  }
  .body-container__footer__block__nav__direction__block {
    width: 190px;
  }
  .body-container__footer__block__nav__block {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 190px;
    gap: 7px;
  }
  /**********Fin Footer**********/
}
/*****************************Fin Version desktop*****************************/

/*# sourceMappingURL=style.css.map */
