/**********Variables**********/
$background-color-white: white;
$width-100: 100%;
$align-center: center;
$align-left: left;
$flex-direction-col: column;
$flex-direction-row: row;
$border-radius-menu: 35px;
$border-radius-card: 10px;
$box-shadow: 0px 0px 12px 0px darkgrey;
/**********Fin Variables**********/
/**********Mixins**********/
@mixin display {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin headings-menu {
	color: black;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
}

@mixin headings-card {
	color: black;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin: 0 0 5px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin p-card {
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin rectangle {
	display: flex;
	width: 40px;
	border: 2px solid #99e2d0;
}

@mixin footer-p {
	text-align: left;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
/**********Fin Mixins**********/
/**********Keyframes**********/
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes hideLoader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
/**********Fin Keyframes**********/

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	@include display;
	margin: 0 auto;
}

/*****************************Version mobile*****************************/
.body__loader-container {
	@include display;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: white;
	animation: hideLoader 0.5s forwards 3s; // J'utilise forwards sinon le loader reste sur la fenetre
	&__loader {
		width: 80px;
		height: 80px;
		border: 12px solid #f3f3f3;
		border-radius: 50%;
		border-top: 12px solid #9356dc;
		animation: spin 2s linear infinite;
	}
}

.body-container {
	@include display;
	flex-direction: $flex-direction-col;
	max-width: 1440px;
	min-width: 320px;
	width: $width-100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 3s, opacity 0.5s ease;
	/**********Header**********/
	&__header {
		@include display;
		flex-direction: $flex-direction-row;
		width: $width-100;
		box-shadow: 0 0 10px black;
		z-index: 1;
		&__arrow-logo {
			@include display;
			flex-direction: $flex-direction-row;
			width: $width-100;
			padding: 0 55px 0 20px;
			background-color: $background-color-white;
			&__arrow {
				color: #353535;
				font-size: 18px;
				padding-right: 20px;
			}
			&__container {
				@include display;
				width: $width-100;
				height: 63px;
				margin-bottom: 3px;

				&__img {
					width: 140px;
					z-index: 0;
				}
			}
		}
	}
	/**********Fin Header**********/
	/**********Main**********/
	&__main {
		@include display;
		flex-direction: $flex-direction-col;
		width: $width-100;
		&__img-container {
			position: relative;
			width: $width-100;
			height: 275px;
			z-index: 0;
			&__img {
				object-fit: cover;
				width: $width-100;
				height: 250px;
			}
		}
		&__section__menu-container {
			@include display;
			width: $width-100;
			z-index: 1;
			margin: -75px 0 20px 0;
			border-top-left-radius: $border-radius-menu;
			border-top-right-radius: $border-radius-menu;
			background-color: #f6f6f6;
			&__card {
				@include display;
				flex-direction: $flex-direction-col;
				width: 95%;
				padding: 10px;
				&__heading-heart {
					display: flex;
					justify-content: space-between;
					align-items: $align-center;
					flex-direction: $flex-direction-row;
					width: $width-100;
					&__h1 {
						color: black;
						font-family: "Shrikhand", serif;
						font-size: 28px;
						font-weight: 400;
						line-height: 40px;
						padding-right: 30px;
						margin: 15px 0 30px 0;
					}
					&__like {
						@include display;
						font-size: 25px;
						padding: 0 0 17px 0;
						margin: 0 10px 0 0;
						&__empty-heart {
							position: relative;
						}
						&__full-heart {
							position: absolute;
							color: #f6f6f6;
							cursor: pointer;
							font-size: 20px;
							transition: 0.4s linear;
							&:hover {
								color: #9356dc;
								background: -webkit-linear-gradient(#9356dc, #ff79da);
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								background-clip: text;
								font-size: 27px;
								transition: 0.4s linear;
							}
						}
					}
				}
				&__heading-rectangle {
					display: $align-left;
					justify-content: $align-left;
					text-align: $align-left;
					align-items: $align-left;
					flex-direction: $flex-direction-col;
					width: $width-100;
					margin: 0 0 5px 0;
					&__headigns {
						@include headings-menu;
						width: $width-100;
						text-align: $align-left;
						margin: 0 0 5px 0;
					}
					&__rectangle {
						@include rectangle;
					}
				}
				&__menu-section {
					@include display;
					flex-direction: $flex-direction-col;
					width: $width-100;
					margin: 10px 0 30px 0;

					&__card {
						display: flex;
						justify-content: space-between;
						align-items: $align-center;
						position: relative;
						width: $width-100;
						height: 72px;
						border-radius: 15px;
						background-color: white;
						margin: 0 0 15px 0;
						transition: all 0.4s ease;
						&:hover {
							.body-container__main__section__menu-container__card__menu-section__card__checkmark-container {
								opacity: 1;
								width: 60px; // Le checkmark prend 30% de l'espace
								margin: 0;

								&__icon {
									opacity: 1; // Le checkmark devient visible
								}
							}
						}
						&__description {
							display: flex;
							justify-content: space-between;
							align-items: $align-center;
							overflow: hidden;
							width: $width-100;
							padding: 15px 10px 15px 15px;
							transition: width 0.4s ease;

							&__heading-p {
								display: flex;
								justify-content: $align-center;
								flex-direction: $flex-direction-col;
								width: $width-100;
								height: $width-100;
								overflow: hidden;
								margin: 0;
								&__heading {
									@include headings-card;
								}
								&__p {
									@include p-card;
								}
							}
							&__price-container {
								@include display;
								width: 30px;
								height: $width-100;
								background-color: white;
								margin: 0 0 0 4px;
								&__price {
									text-align: $align-center;
									font-size: 15px;
									font-weight: 700;
									line-height: 17px;
								}
							}
						}
						&__checkmark-container {
							@include display;
							background-color: #99e2d0;
							width: 0;
							height: $width-100;
							opacity: 0;
							border-radius: 0px 15px 15px 0px;
							margin: 0;
							transition: all 0.4s ease;
							&__icon {
								font-size: 20px;
								opacity: 0;
								color: white;
								transition: opacity 0.4s ease;
							}
						}
					}
				}
				&__btn {
					@include display;
					width: 186px;
					height: 50px;
					border-radius: 25px;
					box-shadow: 0px 4px 10px 0px darkgray;
					background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
					margin-bottom: 30px;
					&:hover {
						transition: 5ms;
						background: linear-gradient(0deg, #a877e3 -11.44%, #ff93e1 123.93%);
						box-shadow: 0px 4px 10px rgb(133, 133, 133);
					}
					&__p {
						color: white;
						font-size: 16px;
						font-weight: 500;
						line-height: 18px;
					}
				}
			}
		}
	}
	/**********Fin Main**********/
	/**********Footer**********/
	&__footer {
		@include display;
		flex-direction: $flex-direction-col;
		width: $width-100;
		&__block {
			display: flex;
			justify-content: left;
			align-items: $align-center;
			flex-direction: $flex-direction-col;
			width: $width-100;
			padding: 25px;
			background: #353535;
			&__logo-container {
				display: flex;
				justify-content: left;
				width: $width-100;
				height: 17px;
				margin: 0 0 25px 0;
				&__img {
					width: 100px;
				}
			}
			&__nav {
				display: flex;
				flex-direction: $flex-direction-col;
				width: $width-100;
				&__direction {
					display: flex;
					align-items: $align-center;
					flex-direction: $flex-direction-col;
					gap: 7px;
					padding: 0 0 7px 0;
					&__block {
						width: $width-100;
						gap: 5px;
						&__knife-fork {
							width: 11px;
							font-size: 15px;
							color: white;
						}
						&__contact {
							width: 11px;
							font-size: 12px;
							color: white;
						}
						&__p {
							@include footer-p;
							padding-left: 10px;
						}
					}
				}
				&__block {
					display: flex;
					flex-direction: $flex-direction-col;
					gap: 7px;
					&__p {
						@include footer-p;
					}
				}
			}
		}
	}
	/**********Fin Footer**********/
}
.body__loader-container + .body-container {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease;
}
/*****************************Fin Version mobile*****************************/

/*****************************Version tablette*****************************/
@media screen and (min-width: 768px) {
	.body-container__main__img-container {
		margin: 60px;
		&__img {
			position: absolute;
			top: -190px;
			height: 490px;
		}
	}
	.body-container__main__section__menu-container {
		width: 70%;
		&__card {
			width: 65%;
			&__heading-heart {
				justify-content: center;
				padding: 0;
				margin: 20px 0 0 0;
			}
		}
	}

	.body-container__footer__block {
		justify-content: right;
		flex-direction: row-reverse;
		padding: 40px 20px 20px 0;
		&__logo-container {
			align-items: $align-center;
			width: 137px;
			height: 100%;
			padding: 0;
			margin: 0 0 0 80px;
		}
		&__nav {
			display: flex;
			justify-content: space-around;
			flex-direction: $flex-direction-row;
			width: 600px;
			gap: 7px;
			&__direction {
				flex-direction: $flex-direction-row;
				padding: 0;
				&__block {
					width: 190px;
				}
			}
			&__block {
				justify-content: space-between;
				align-items: $align-center;
				flex-direction: $flex-direction-row;
				width: 190px;
				gap: 7px;
			}
		}
	}
}
/*****************************Fin Version tablette*****************************/
